<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>mercode-weather</title>
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap"
      rel="stylesheet"
    />
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
      require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
